body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  font-family: "Do Hyeon", Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  border-radius: 5px;
}
#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#instructions {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: white;
  font-size: 3.5rem;
  margin: 0 0 0 20px;
}
h3 {
  color: white;
  margin: 10px 0;
}

button {
  height: 40px;
  width: 75px;
  border-radius: 5px;

  background-color: #5cb85c;
  color: white;
  font-size: 0.8rem;
}
