body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  font-family: "Do Hyeon", Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  border: 5px inset #000;
  border-radius: 10px;
}
#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 10px; */
}

h1 {
  color: white;
  font-size: 3.5rem;

  margin: 20px 0 5px 0;
}

button {
  height: 40px;
  width: 75px;
  border-radius: 5px;
  margin: 15px 20px 0 30px;
  background-color: #047edd;
  color: white;
  font-size: 0.8rem;
}
